# Konfigurasi Environment
APP_ENV=development

# Gemini AI
# Isi dengan API Key dari https://aistudio.google.com/app/apikey
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

# Redis Configuration
REDIS_URL=redis:6379

TELEGRAM_BOT_TOKEN=

